INSTANCE_TYPE="t3.small"
KEY_NAME="my-ec2-key-pair-name"                # Your existing EC2 key pair
KEY_PATH="~/.ssh/my-ec2-key-pair-private.cer"  # Path to private key
SECURITY_GROUP="sg-xxxx"                       # The ops-inf-ssh-sg-use1 security group ID. Or any SG with SSH access (port 22). Must be on VPN
SUBNET_ID="subnet-xxxx"                        # The same subnet ID used by ops-inf-ssh-use1 works.
SSH_USER="ubuntu"
